* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', 'Playfair Display', sans-serif;
    background-color: #ffffff;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 70px;
    box-shadow: 3px 3px 50px #00000030;
}

.text {
    padding: 125px 125px;
}

.text h1 {
    font-family: 'Playfair Display';
    font-size: 42px;
    font-weight: 400;
    margin-top: 11px;
    letter-spacing: 1.1px;
}

p {
    display: block;
    font-size: 19px;
    margin: 20px 0;
    line-height: 36px;
    opacity: .6;
}

h1+p::first-letter {
    font-family: 'Playfair Display';
    float: left;
    color:black;
    font-size: 120px;
    padding: 28px 30px 17px 0;
}

blockquote {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    opacity: .6;
}

blockquote span {
    font-size: 55px;
    margin-right: 15px;
}

.button {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    height: 67px;
    width: 265px;
    background-color: #fff;
    border: 4px solid #eaa258;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: #eaa258;
}

.btn:hover {
    background-color: #eaa258;
    color: #fff;
}





