@mixin fz($size_px) {
    font-size: ($size_px/$base_size)+rem;
}

$base_size:16;

@media screen and (max-width:1100px) {
    .choose_block {
        .choose_block_top {
            .choose_block_left {
                width: 45%;
                h2 {
                    padding: 60px 0 25px 0;
                }
                .choose_text {
                    padding-bottom: 20px;
                    p {
                        line-height: 26px;
                        letter-spacing: 1.3px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .choose_block {
        .choose_block_top {
            .choose_block_left {
                width: 45%;
                h2 {
                    padding: 50px 0 25px 0;
                }
                .choose_text {
                    padding-bottom: 15px;
                    p {
                        padding: 8px 0;
                        line-height: 22px;
                    }
                }
                .btn_blue {
                    width: 200px;
                    height: 55px;
                }
            }
            .choose_block_right {
                .img_block_top {
                    width: calc(100% - 75px);
                }
                .img_block_bottom {
                    width: calc(100% - 75px);
                }
            }
        }
    }
    .reviews_block {
        .reviews_block_name {
            h2 {

            }
        }
        .reviews_block_center {
            .reviews_block_img {
                width: 45%;
            }
            .reviws_block_text {
                width: 55%;
                padding: 30px 30px;
            }
        }
    }
}

@media screen and (max-width:850px) {
    #header_menu {
        display: none;
    }
    #hamburger_menu {
        display: block;
    }
    .search_block {
        .container {
            .header_form {
                .header_search_form {
                    .search_form {
                        .form {
                            width: 400px;
                        }
                    }
                }
            }
        }
    }
    .choose_block {
        .choose_block_top {
            .choose_block_left {
                width: 45%;
                h2 {
                    padding: 30px 0;
                }
                .choose_text {
                    padding-bottom: 10px;
                    p {

                        line-height: 20px;
                        letter-spacing: 1.3px;
                    }
                }
                .btn_blue {
                    width: 200px;
                    height: 55px;
                }
            }
            .choose_block_right {
                width: 50%;
                .img_block_top {
                    align-self: center;
                    width: 80%;
                }
                .img_block_bottom {
                    align-self: center;
                    width: 80%;
                }
            }
        }
    }

    .block_icons {
        .container {
            .dotten_arc {
                .image_arc {
                    svg {
                        width: 80%;
                    }
                }
            }
        }
        .choose_block_icons {
            .image_link {
                svg {
                    width: 60px;
                    height: 60px;
                }
                h2 {
                    @include fz(32); 
                }
            }
        }
    }

    .section_block {
        .spain_block {
            .container {
                justify-content: center;
                .spain_block_content {
                    width: 75%;
                    .spain_block_text {
                        text-align: center;
                    }
                }
            }
        }
    }
    .reviews_block {
        .reviews_block_name {
            padding-bottom: 25px;
            h2 {
                @include fz(32);
            }
        }
        .reviews_block_center {
            .reviews_block_img {
                width: 50%;
            }
            .reviws_block_text {
                width: 50%;
                padding: 20px 20px;
                span {
                    line-height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width:750px) {
    .search_block {
        .container {
            .header_form {
                .header_search_form {
                    .search_form {
                        .form {
                            width: 350px;
                            h2 {
                                padding: 60px 0 35px 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .choose_block {
        .choose_block_top {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            .choose_block_left {
                width: 100%;
                text-align: center;
                h2 {
                    padding: 20px 0;
                }
                .choose_text {
                    padding-bottom: 10px;
                }
                .btn_blue {
                    width: 200px;
                    height: 55px;
                }
            }
            .choose_block_right {
                width: 100%;
                flex-direction: row;
            }
        }
    }

    .block_icons {
        .container {
            .dotten_arc {
                .image_arc {
                    svg {
                    }
                }
            }
        }
        .choose_block_icons {
            .image_link {
                svg {
                    width: 55px;
                    height: 55px;
                }
                h2 {
                    @include fz(28); 
                }
            }
        }
    }
    .section_block {
        .spain_block {
            .container {
                .spain_block_content {
                    padding: 40px 20px;
                    .spain_block_text {

                        .btn_blue {
                            width: 200px;
                            height: 55px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    .reviews_block {
        .container {
            .reviews_block_center {
                flex-direction: column;
                .reviews_block_img {
                    width: 100%;
                }
                .reviws_block_text {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .search_block {
        .container {
            .header_form {
                .header_search_form {
                    .search_form {
                        .form {
                            width: 350px;

                        }
                    }
                    .btn_search {
                        width: 130px;

                    }
                }
            }
        }
    }
    .section_block {
        .spain_block {
            .container {
                .spain_block_content {
                    padding: 40px 20px;
                    width: 100%;
                    .spain_block_text {

                        .btn_blue {
                            width: 200px;
                            height: 55px;
                        }
                    }
                }
            }
        }
    }
    .block_icons {
        .container {
            .dotten_arc {
                .image_arc {
                    svg {
                    }
                }
            }
        }
        .choose_block_icons {
            .image_link {
                svg {
                    width: 50px;
                    height: 50px;
                }
                h2 {
                    @include fz(24); 
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    .search_block {
        .container {
            .header_form {
                .header_search_form {
                    flex-direction: column;
                    gap: 10px;
                    .search_form {
                        .form {
                            width: 350px;
                        }
                    }
                    .btn_search {
                        width: 130px;
                        border: none;
                    }
                }
            }
        }
    }
    .choose_block {
        .choose_block_top {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            .choose_block_left {
                width: 100%;
                text-align: center;
                h2 {
                    padding: 20px 0;
                }
                .choose_text {
                    padding-bottom: 10px;
                }
                .btn_blue {
                    width: 200px;
                    height: 55px;
                }
            }
            .choose_block_right {
                width: 100%;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }
    .block_icons {
        .container {
            .dotten_arc {
                .image_arc {
                    svg {
                    }
                }
            }
        }
        .choose_block_icons {
            .image_link {
                svg {
                    width: 45px;
                    height: 45px;
                }
                h2 {
                    @include fz(22); 
                }
            }
        }
    }
}

@media screen and (max-width:450px) {
    .block_icons {
        .container {
            .dotten_arc {
                .image_arc {
                    svg {
                    }
                }
            }
        }
        .choose_block_icons {
            .image_link {
                svg {
                    width: 45px;
                    height: 45px;
                }
                h2 {
                    @include fz(16); 
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .search_block {
        .container {
            .header_form {
                h3 {
                    @include fz(24);
                    letter-spacing: 5.5px;
                    line-height: 50px;
                    margin-bottom: 20px; 
                }
                .header_search_form {
                    .search_form {
                        .form {
                            width: 320px;
                            height: 40px;
                        }
                    }
                    .btn_search {
                        height: 40px;
                    }
                }
            }
        }
    }
    .section_block {
        .spain_block {
            .container {
                .spain_block_content {
                    padding: 20px 20px;
                    width: 100%;
                    .spain_block_text {

                        .btn_blue {
                            width: 200px;
                            height: 55px;
                        }
                        p {
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }    
}